<section class="container">
  <div>
    <app-input (taskTextChange)="onTaskTextChange($event)"></app-input>
  </div>

  <div class="task">
    <h2>Tasks to do - {{tasksUtils? tasksUtils.length: 0}}</h2>

    <p *ngIf="!tasksUtils || tasksUtils.length == 0">There are no tasks registered!</p>

    <div *ngFor="let task of tasksUtils; let index = index" class="card">
      <p>{{task.text}}</p>
      <div class="action">
        <img src="assets/Check.svg" alt="" (click)="onTaskCompletedChange(task.text)">
        <img src="assets/TrashSimple.svg" alt="" (click)="onTaskDeleteChange(index)">
      </div>
    </div>
  </div>

  <div class="task">
    <h2>Done - {{tasksUtilsDone ? tasksUtilsDone.length: 0}}</h2>

    <p *ngIf="!tasksUtilsDone || tasksUtilsDone.length == 0">There are no completed tasks!</p>

    <div *ngFor="let task of tasksUtilsDone" class="card">
      <p class="completed">{{task.text}}</p>
    </div>
  </div>

</section>
