<section class="container">
  <div>
    <app-input (taskTextChange)="onTaskTextChange($event)"></app-input>
  </div>

  <div class="task">
    <h2>Tasks to do - {{tasksUtils.length}}</h2>

    <div *ngFor="let task of tasksUtils; let index = index" class="card">
      <p>{{task.text}}</p>
      <div class="action">
        <img src="assets/Check.svg" alt="" (click)="onTaskCompletedChange(index)">
        <img src="assets/TrashSimple.svg" alt="">
      </div>
    </div>
  </div>

  <div class="task">
    <h2>Done - {{tasksUtilsDone.length}}</h2>

    <div *ngFor="let task of tasksUtilsDone" class="card">
      <p>{{task.text}}</p>
      <div class="action">
        <img src="assets/Check.svg" alt="">
        <img src="assets/TrashSimple.svg" alt="">
      </div>
    </div>
  </div>

</section>
